{% extends 'dashboard/index.html' %}
{% block main %}
   <div class="container" style="margin-top:20px;">
        <strong>Documents</strong><a href="{% url 'add_document' %}" style="margin-left:50px;">[Add new document]</a>
         <div class="card" style="margin-top:10px;">
                 <ul class="list-group list-group-flus">
                                {% for x in document %}
                                <li class="list-group-item"><a href="{{x.doc.url}}" target="_blank">{{ x.name }}</a><span ><a href="{% url 'delete_document' x.id %}" style="float:right;margin-left:10px;">delete</a></span><span ><a href="{% url 'update_document' x.id %}" style="float:right;">edit</a></span></li>
                                {% endfor %}
                 </ul>
         </div>
   </div>
{% endblock %}